:root{
    /* Base Theme */
    --bg-primary: #151D28;
    --theme-accent: #0f73ff;
    --border-color: #586373;
    --button-hover: #113D7A;
    --text-fill: #ffffff;
    --font-family: Helvetica, sans-serif;
}


html {
    min-width: 550px;
    max-width: 1920px;
    position: relative;
    vertical-align: middle;
    }

body{
    background-color: var(--bg-primary);
    color: var(--text-fill);
    font-family: var(--font-family);
}

table, th, td{
   text-align: center;
   color: var(--text-fill);
}

table{
    border: 2px solid var(--border-color);
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

button, select{
    line-height: 2vh;
    background-color: var(--theme-accent);
    border-color: var(--theme-accent);
    border-radius: 0.625rem;
    padding: 0.625rem;
    transition: 0.125s;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
}

button:hover, select:hover, input:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

select{
    font-size: 12pt;
    max-width: 95%;
}

a{
    color: var(--text-fill);
    font-weight: bold;
    transition: .125s;
}

a:hover{
    color: var(--theme-accent);
}

/* LOGIN PAGE */

#loginBody {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Container structure */
#loginContainer {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}
#loginLeft,
#loginRight {
    flex: 1;
    padding: 5%;
}

/* Left side */
#loginLeft {
    text-align: right;
}

#signIn {
    color: var(--theme-accent);
    font-weight: bold;
    font-size: 48pt;
}

#subtitle {
    font-weight: bold;
    font-size: 24pt;
    color: var(--border-color);
}

/* Divider */
#verticalDivider {
    width: 2px;
    background-color: var(--border-color);
    height: 60%;
}

/* Right side */
#loginRight {
    display: flex;
    flex-direction: column;
    align-items: left; /* aligned center creates too much empty space between content -PR */
    gap: 20px;
}

/* Login Buttons */
#loginRight button {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16pt;
}

#loginRight button img {
    height: 20px;
}

#signIn{
    color: var(--theme-accent);
    font-weight: bold;
    font-size: 48pt;
}

#subtitle{
    font-weight: bold;
    font-size: 24pt;
}


/* may want to consider splitting css files at some point 
** to make it easier to manage and reduce load times if this
** contiues to grow in size */

/* User Profile Stuff */

.postDisplayName{
    color:var(--text-fill)
}

.sidebar{
    text-align: center;
    font-size: 18pt;
    position: -webkit-sticky;
    position: fixed;
    top:0;
    max-width: 10%;
    min-width: 10%;
    word-wrap: break-word; /* squish text on resize */
    
}

#rightBar{
    /*border: 2px white solid;*/ /* debug for positioning */
    margin-left: 81vw;
}

.searchBar{
    border-radius: 10px;
    background-color: var(--theme-accent);
    border-color: var(--theme-accent);
    font-size: 16pt;
    color: white;
    padding: 5%;
    transition: 0.125s;
    font-family: var(--font-family);
}

#profileContainer{
    align-items: center;
    justify-content: center;
    margin-top: 34%;
}

#leftBar{
    margin-left: 3.5%;
}


#username{
    font-size: 14pt;
    color: #586373;
}

#displayName{
    font-size: 16pt;
    font-weight: bold;
}

#banner{
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-left:18vw;
    margin-right:21vw;
    margin-top: -34%;
    height:20vh;
    position: static;
    align-items: center;
    vertical-align: middle;
}

#banner img{
    height: 100%;
    width: 100%;
}

.content{
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-left:18vw;
    margin-right:21vw;
    align-items: center;
    justify-content: center;
}

#profileInfo{
    position: static;
    height:37vh;
}


#profileImage{
    max-height: 15vh;
    min-height: 15vh;
    margin-left: 3.5%;
    margin-top: 3.5%;
}

#profileInfo #displayName, #profileInfo #username, #profileInfo #userStats{
    margin-left: 3.5%;
}

#userBio{
    margin-left: 45%;
    margin-top: -25%;
}

#bioText{
    border-radius: 10px;
    resize:none;
    width: 95%;
    height: 15vh;
    font-family: var(--font-family);
    background-color: var(--bg-primary);
    color: var(--text-fill);
}

#bioText:disabled{
    border: none;
}

#userCollege{
    font-size: 10pt;
}

#edit{
    margin-left: 70%;
    margin-top: -10%;
}

#userContent{
    position: static;
}

.profileImgMini{
    margin-left: 3.5%;
    margin-top: 3.5%;
    min-height: 5vh;
    height:5vh;
}

.sideProfileIcon{
    height:50%;
    width: 50%;
}

.postLink{
    text-decoration: none;
}

#postUsername{
    color: var(--border-color);
}

.postContentText{
    border-radius: 10px;
    width: 95%;
    height: fit-content;
    font-family: var(--font-family);
    background-color: var(--bg-primary);
    color: var(--text-fill);
    margin-left: 3.5%;
    margin-top: 2%;
    font-size: 14pt
}

.postMetrics{
    margin-left: 3.5%;
    text-decoration: none;
    color: var(--border-color);
}

#selectedContentList{
    width:60.5%;
    margin-left: 18.25%;
}


/* Home Page Values */

#header{
    border: 1px solid var(--border-color);
    margin-left:18vw;
    margin-right:21vw;
    height:5vh;
    position: sticky;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

#header img{
    margin-top: .75%;
    max-width: 75%;
    max-height: 75%;
    width: 75%;
    height: 75%;
}

#loadMore{
    text-align: center;
    margin-left: 41.5%;
}

.imageContainer{
    text-align: center;
    min-height: 250px;
    max-height: 550px;
}

.imageContainer img{
    height: inherit;
}

.recentSearchesTable{
    border-radius: 10px;
    border-color: var(--button-hover);
    background-color: var(--button-hover);
    margin-left: 81vw;
    font-size: 12pt;
}

.sidebarText{
    font-size: 100%;
}