:root{
    /* Base Theme */
    --bg-primary: #151D28;
    --theme-accent: #0f73ff;
    --border-color: #586373;
    --button-hover: #113D7A;
    --text-fill: #ffffff;
    --font-family: Helvetica, sans-serif;
}


html {
    min-width: 550px;
    max-width: 1920px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    }

body{
    background-color: var(--bg-primary);
    color: var(--text-fill);
    font-family: var(--font-family);
    text-align: center;
}

table, th, td{
   text-align: center;
   color: var(--text-fill);
}



img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

button, select{
    line-height: 2vh;
    background-color: var(--theme-accent);
    border-color: var(--theme-accent);
    border-radius: 0.625rem;
    padding: 0.625rem;
    transition: 0.125s;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
}

button:hover, select:hover, input:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

select{
    font-size: 12pt;
    max-width: 95%;
}

a{
    color: var(--text-fill);
    font-weight: bold;
    transition: .125s;
}

a:hover{
    color: var(--theme-accent);
}

/* LOGIN PAGE */

#loginBody {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Container structure */
#loginContainer {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}
#loginLeft,
#loginRight {
    flex: 1;
    padding: 5%;
}

/* Left side */
#loginLeft {
    text-align: right;
}

#signIn {
    color: var(--theme-accent);
    font-weight: bold;
    font-size: 48pt;
}

#subtitle {
    font-weight: bold;
    font-size: 24pt;
    color: var(--border-color);
}

/* Divider */
#verticalDivider {
    width: 2px;
    background-color: var(--border-color);
    height: 60%;
}

/* Right side */
#loginRight {
    display: flex;
    flex-direction: column;
    align-items: left; /* aligned center creates too much empty space between content -PR */
    gap: 20px;
}

/* Login Buttons */
#loginRight button {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16pt;
}

#loginRight button img {
    height: 20px;
}

#signIn{
    color: var(--theme-accent);
    font-weight: bold;
    font-size: 48pt;
}

#subtitle{
    font-weight: bold;
    font-size: 24pt;
}


/* may want to consider splitting css files at some point 
** to make it easier to manage and reduce load times if this
** contiues to grow in size */

/* User Profile Stuff */

.postDisplayName{
    color:var(--text-fill)
}

.sidebar{
    text-align: center;
    font-size: 18pt;
    position: -webkit-sticky;
    position: fixed;
    top:0;
    max-width: 10%;
    min-width: 10%;
    word-wrap: break-word; /* squish text on resize */
    
}

.sidebar a{
    text-decoration: none;
}

#rightBar{
    /*border: 2px white solid;*/ /* debug for positioning */
    margin-left: 80%;
    margin-right: 3.5%; /* prevent it from hitting the wall  */
}

.searchBar{
    border-radius: 10px;
    background-color: var(--theme-accent);
    border-color: var(--theme-accent);
    font-size: 16pt;
    color: white;
    padding: 5%;
    transition: 0.125s;
    font-family: var(--font-family);
}

#profileContainer{
    align-items: center;
    justify-content: center;
}

#leftBar{
    margin-left: 6%;
}


#username{
    font-size: 14pt;
    color: #586373;
}

#displayName{
    font-size: 16pt;
    font-weight: bold;
}

#banner{
    border: 1px solid var(--border-color);
    margin: 0 auto;
    width: 55%;
    height:20vh;
    position: -webkit-sticky;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

#banner img{
    height: 100%;
    width: 100%;
}

.content{
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    width: 55%;
}

#profileInfo{
    position: static;
    height:37vh;
}


#profileImage{
    max-height: 15vh;
    min-height: 15vh;
    margin-left: 3.5%;
    margin-top: 3.5%;
}

#profileInfo #displayName, #profileInfo #username, #profileInfo #userStats{
    margin-left: 3.5%;
}

#userBio{
    margin-left: 45%;
    margin-top: -25%;
}

#bioText{
    border-radius: 10px;
    resize:none;
    width: 95%;
    height: 15vh;
    font-family: var(--font-family);
    background-color: var(--bg-primary);
    color: var(--text-fill);
}

#bioText:disabled{
    border: none;
}

#userCollege{
    font-size: 10pt;
}

#edit{
    margin-left: 65%;
    margin-top: -20%;
}

#userContent{
    width: 55%;
    margin: 0 auto;
    border-left: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
}

.profileImgMini{
    margin-left: 3.5%;
    margin-top: 3.5%;
    min-height: 5vh;
    height:5vh;
}

.sideProfileIcon{
    height:50%;
    width: 50%;
}

.postLink{
    text-decoration: none;
}

#postUsername{
    color: var(--border-color);
}

.postContentText{
    border-radius: 10px;
    width: 95%;
    height: fit-content;
    font-family: var(--font-family);
    background-color: var(--bg-primary);
    color: var(--text-fill);
    margin-left: 3.5%;
    margin-top: 2%;
    font-size: 14pt
}

.postMetrics{
    margin-left: 3.5%;
    text-decoration: none;
    color: var(--border-color);
}

#selectedContentList{
    width:60.5%;
    margin-left: 18.25%;
}


/* Home Page Values */

#header{
    border: 1px solid var(--border-color);
    margin: 0 auto;
    width: 55%;
    height:5vh;
    position: -webkit-sticky;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    /*Can't have padding because it screws with the div alignment*/
}

#header img{
    margin-top: .75%;
    max-width: 75%;
    max-height: 75%;
    width: 75%;
    height: 75%;
    
}

#loadMore{
    text-align: center;
}

.imageContainer{
    text-align: center;
    min-height: 250px;
    max-height: 550px;
}

.imageContainer img{
    height: inherit;
}

.recentSearchesTable{
    border-radius: 10px;
    border-color: var(--button-hover);
    background-color: var(--button-hover);
    font-size: 12pt;
    width: 150%;
    font-size: 16pt;
}

.recentSearchData {
    text-align: left;
    padding-left: 10px;
}

#recentHeader{
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

.sidebarText{
    font-size: 100%;
}

#newPostContainer{
    text-align: left;
    width: 50%;
    height: 35%;
    max-width: 50%;
    background-color: var(--bg-primary); 
    border-color: var(--border-color);
    border: 1px solid;
    position: -webkit-sticky;
    position: fixed;
    visibility: hidden;
    vertical-align: middle;
    z-index: 2;
    padding: 5px;
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: 18pt;
    margin-left: 24.25%;
}

#newPostHeader{
    margin-left: 2%;
}

#newPostTXT{
    height: 95%;
    text-align: center;
}

#newPostTXT textarea{
    resize: none;
    width: 95%;
    height: 70%;
    background-color: var(--bg-primary);
    font-family: var(--font-family);
    font-size: 16pt;
    color: var(--text-fill);
    border-style: none;
    border-color: transparent;
    outline: transparent;
}

#createPostBtn{
    margin-left: 63%;
}

.overlayDiv{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    margin: 0 auto;
    margin-top:-50%;
}