:root{
    --bg-primary: #151D28;
    --theme-accent: #0f73ff;
}

body{
    background-color: var(--bg-primary);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    height: 5vh;
    vertical-align: middle;
}

button{
    line-height: 2vh;
    background-color: var(--theme-accent);
    border-color: var(--theme-accent);
    border-radius: 0.625rem;
    padding: 0.625rem;
    transition: 0.125s;
    color:white;
    font-weight: bold;
    font-size: 18pt;
}

button:hover{
    background-color: #113D7A;
    border-color: #113D7A;
}

#loginBody{
    overflow-y: hidden;
}

#loginLeft{
    text-align: right;
    display: inline-block;
    margin-left:10%;
    margin-top: 20%;
} 

#loginRight{
    /* utterly rediculous way to align imo, but it works -PR */
    margin-top: -18vh;
    margin-right: 0;
    margin-left: 50vw;
    position: fixed;
}

#verticalDivider{
    border-left: 4px solid #586373;
    padding-right: 10px;
    height: 105vh;
    margin-top: -60vh;
    margin-left: 40vw;
}

#signIn{
    color: var(--theme-accent);
    font-weight: bolder;
    font-size: 48pt;
}

#subtitle{
    font-weight: bold;
    font-size: 24pt;
}